<!DOCTYPE HTML>
<html>
<head>
  <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {

      title:{
      text: "{{ title }}"
      },
      axisX: {
        valueFormatString: "DD/MMM",
        interval:1,
        intervalType: "day"
      },
      axisY:{
        includeZero: false

      },
      data: [
      {
        type: "line",

        dataPoints: [
	{% for d in data %}	
	{ x: new Date({{d.year}}, {{d.month}}, {{d.day}}), y: {{d.maxtemp}} },
	{% endfor %}
        ]
      }
      ]
    });

    chart.render();
  }
  </script>
 <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script></head>
<body>
  <div id="chartContainer" style="height: 300px; width: 100%;">
  </div>
</body>
</html>
